<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dddsample.gatewayImpl.database.mapper.EmployeeMapper">
    <sql id="ALL_COLUMNS">
        id,
        allowingAssign
    </sql>

    <select id="getById" resultType="EmployeeDO" parameterType="long">
        select
        <include refid="ALL_COLUMNS"/>
        from employee
        WHERE id = #{id} LIMIT 1
    </select>
</mapper>